<div>
    <table id="clientTable" class="table table-striped table-borderless text-center" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Cidade</th>
                <th scope="col">Telefone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for (const client of (clients.data || clients)) { %>
                <tr>
                    <td scope="row"><%= client.name %></td>
                    <td><%= client.identification_number %></td>
                    <td><%= client.city %></td>
                    <td><%= client.phone %></td>
                    <td><button type="button" class="btn btn-link" data-bs-toggle="modal"
                            data-bs-target="#modalClient-<%= client.id %>" style="padding: 0;">Ver mais</button></li>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<% for (const client of (clients.data || clients)) { %>
    <div id="modalClient-<%= client.id %>" class="modal fade" style="margin-top: 20px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title fs-4">INFORMAÇÕES DO CLIENTE</p>
                        <button type="button" class="btnm btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div style="margin-bottom: 30px;">
                        <div class="row">
                            <div class="col fs-5"><%= `${client.name} ${client.surname}` %></div>
                        </div>
                        <div class="row">
                            <div class="col"><%= client.reference || '' %></div>
                        </div>
                        <div class="row">
                            <div class="col"><%= client.identification_number %></div>
                        </div>
                    </div>
                    <div style="margin-bottom: 30px;">
                        <div class="row">
                            <div class="col fs-5">Endereço</div>
                        </div>
                        <div class="row">
                            <div class="col"><%= `${client.address}, ${client.building_number}, ${client.city}, ${client.cep}` %></div>
                        </div>
                    </div>
                    <div style="margin-bottom: 30px;">
                        <div class="row">
                            <div class="col fs-5">Contato</div>
                        </div>
                        <div class="row">
                            <div class="col"><a href="#"><%= client.phone %></a></div>
                            <div class="col"><%= client.email %></div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#modalClientEdit-<%= client.id %>"><i class="bi bi-person-plus-fill"></i>
                        EDITAR</button>
                    </li>
                    <button type="submit" class="btn btn-danger">EXCLUIR CLIENTE</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalClientEdit-<%= client.id %>" class="modal fade" style="margin-top: 20px;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title">EDITAR CLIENTE</h3>
                    <button type="button" class="btnm btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <form method="post" action="/client/<%= client.id %>/edit">
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col">
                                <label for="modalName" class="form-label">Nome</label>
                                <input type="text" class="form-control" name="name" id="modalName" value="<%= client.name %>" required>
                            </div>
                            <div class="col">
                                <label for="modalLastName" class="form-label">Sobrenome</label>
                                <input type="text" class="form-control" name="surname" id="modalLastName" value="<%= client.surname %>" required>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col">
                                <label for="modalCPF" class="form-label">CPF / CNPJ</label>
                                <input type="text" class="form-control" name="identification_number" id="modalCPF" value="<%= client.identification_number %>" required>
                            </div>
                            <div class="col">
                                <label for="modalRef" class="form-label">Referência</label>
                                <input type="tel" class="form-control" id="modalRef"
                                    placeholder="Empresa / Firma / Autonomo" name="reference" value="<%= client.reference %>" required>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col">
                                <label for="modalTel" class="form-label">Telefone</label>
                                <input type="tel" class="form-control" id="modalTel"
                                    placeholder="(00) 0 0000-0000" name="phone" value="<%= client.phone %>" required>
                            </div>
                            <div class="col">
                                <label for="modalEmail" class="form-label">E-mail</label>
                                <input type="email" class="form-control" name="email" id="modalEmail" value="<%= client.email %>" required>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col">
                                <label for="modalCEP" class="form-label">CEP</label>
                                <input type="text" class="form-control" id="modalCEP"
                                    placeholder="00000-000" pattern="[0-9]{8}" name="cep" value="<%= client.cep %>" required>
                            </div>
                            <div class="col">
                                <label for="modalCity" class="form-label">Cidade</label>
                                <input type="text" class="form-control" id="modalCity" name="city" value="<%= client.city %>" required>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col">
                                <label for="modalAdress" class="form-label">Endereço</label>
                                <input type="tel" class="form-control" id="modalAdress"
                                    placeholder="R. Das angustias, Bairro" name="address" value="<%= client.address %>"  required>
                            </div>
                            <div class="col-3">
                                <label for="modalAdressNumber" class="form-label">Número</label>
                                <input type="tel" class="form-control" name="building_number" id="modalAdressNumber" value="<%= client.building_number %>"  required>
                            </div>
                        </div>

                        <div class="container text-center">
                            <button type="submit" class="btn btn-primary">SALVAR</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
<% } %>